/* index.css */
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;700&family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-bg::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(147, 51, 234, 0.5), rgba(234, 88, 12, 0.5));
  z-index: -1;
}

.four-color-gradient {
  background: linear-gradient(to right, black, indigo, fuchsia, rgb(255, 145, 0));
}

.two-color-gradient {
  background: linear-gradient(to right, indigo, blue);
}

.hover-two-color-gradient:hover {
  background: linear-gradient(to right, indigo, blue);
}
